* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}


.bg-lightblue {
    background-color: #255EE9;
    padding: 10px;
}

.white {
    color: white;
    text-decoration: none;
    margin: 25px;
}

.butt {
    background-color: white;
    color: black;
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    border: 0px;
}

.bk-jumbo {
    padding: 100px;
    background-size: cover;
    background-image: url(../img/jumbo.png)
}


.title {
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.para {
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 20px;

}

.row {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.row-header {
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    padding-top: 1px;;
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
}



 /* le col-3 col-6 col-3-right sono state tolte dal css,
 perché con Gianluca abbiamo visto che non servivano
 e aumentavano la difficoltà di corretto posizionamento */


.col-4 {
    flex-basis: calc((100% / 12) * 4);
}


.col-5 {
    flex-basis: calc((100% / 12) * 5);
   
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
 
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
}


.bg-blue {
    background-color: blue;
    padding: 20px;
}

.row-pink {
    display: flex;
    justify-content: center;
}

.just-center {
    justify-content: center;
}

.bg-green {
    min-height: 200px;
}

.height150 {
    min-height: 150px;
}

.border-white {
    border: 1px solid;
    color: white;
}

.black {
    color: black;   
}

.just-between {
    justify-content: space-between;
}

.butt2 {
    border: 0px;
}

 .butt3 {
    background-color: #23272A;
    color: white;
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 10px;
    font-family: 'DM Sans', sans-serif;
    border: 0px; 
}

.para2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.para3 {
    font-size: 20px;
}

.bg-aqua {
    overflow: hidden;
}


